* {
  margin:0;
  padding:0;
  border: none;
  box-sizing: border-box;
  font-family: Arial;

}

#content {
  max-width: 960px;
  margin: 0px auto;
}
.thongtin {
  background-color: #1B1C20;
  height: 80px;
  margin-bottom: 2px;

}
.box {
  float: left;
  wight: 140;
  height: 80px;
  background-color: #8A9897;
}
.thongtin p {
  color: white;
  font-family: Arial;
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
  text-transform: uppercase;
  font-weight: bold;

}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  margin: 0 auto;
  max-width: 960px;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  background-color: #3B3C47;
}
header {
  
  top: 60px;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #f5f5f5;
  padding: 5px 0;
}

header.sticky {
  background: #fff;
  opacity: 0.9;
  color: #000;
}
header.sticky #main-menu a {
  color: #000;
}
header.sticky .logo {
  color: #000;
}
.inner-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul#main-menu {
  display: flex;
}
ul#main-menu li {
  padding: 0 20px;
}
ul#main-menu a {
  padding: 15px 20px;
  color: #fff;
  display: block;
  font-weight: bold;
  text-decoration: none;
  position: relative;
}
.logo {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 2px;
}
ul#main-menu a::after {
  content: "";
  height: 4px;
  width: 0px;
  background: white;
  position: absolute;
  bottom: 0px;
  left: 0;
  transition: all 0.5s ease-in-out;

}
ul#main-menu a:hover::after {
  width: 50%;
  transform:  translateX(55%);
}
#tabnoidung {
  max-width: 960px;
  margin: 0px auto;
  padding: 15px;
}
.nav-tabs {
  display: flex;
  list-style: none;
  margin: opx;
  padding: 0px;
  border-bottom: 3px solid #ddd;
}
.nav-tabs li {
  margin-right: 10px;
}
.nav-tabs li a {
  display: block;
  padding: 10px 50px;
  text-decoration: none;
  position: relative;
  color: white;
  font-size: 20px;
}
.nav-tabs li a:after {
  content: "";
  height: 3px;
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: -3px;
  background: transparent;
}
.nav-tabs li.active a:after, .nav-tabs li:hover a::after {
  background: #e74c3c;
}
.tab-content {
  padding: 20px 0;
}
.tabs {
  border-bottom: 1px solid #f5f5f5;
}
.tab-content-item h2 {
  padding: 20px 0;
}
.tab-content p {
  line-height: 30px;

}